@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="text-center">
    <h2>Usuarios Registrados</h2>
</div>
<hr />
<br />


<a id="btnCancelar" class="btn btn-outline-success" href="@Url.Action("Form", "Usuario")"><i class="fa-solid fa-xmark"></i>  Agregar</a>

<table class="table table-responsive-sm table-hover" id="myTable">
    <thead>
        <tr>
            <th>Editar</th>
            <th>IdUsuario</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>RFC</th>
            <th>Eliminar</th>


        </tr>
    </thead>
    <tbody>
        @foreach (ML.Usuario usuario in Model.Usuarios)
        {
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("Form", "Usuario", new {IdUsuario = usuario.IdUsuario })"><i class="fa-solid fa-pen" style="color: #fff;"></i></a></td>




                <td>@usuario.IdUsuario</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.ApellidoPaterno</td>
                <td>@usuario.ApellidoMaterno</td>
                <td>@usuario.RFC</td>


                <td><a class="btn btn-danger" href="@Url.Action("Delete","Usuario", new { IdUsuario = usuario.IdUsuario })" onclick=" return confirm('¿Estas seguro que deseas eliminar esta registro?')"><i class="fa-solid fa-trash" style="color: #fffff;"></i></a></td>
            </tr>
        }
    </tbody>
</table>
